@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-09-03 23:50:03
 * @version $Id$
 */
body {
	font-family: "Arial", sans-serif;
	font-size: 10pt;
} 
abbr {
	text-decoration: none;
	border: 0;
	font-style: normal;
}
