@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-02-25 13:32:35
 * @version $Id$
 */
.content {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}
.root div {
	margin-top: 20px;
}
i {
	display: block;
	float: left;
	display: block;
	float: left;
	border: 6px solid transparent;
	border-top: 12px solid transparent;
	width: 0px;
	height: 0px;
	margin-top: 5px;
	margin-right: 3px;
	cursor: pointer;
}
i.down_arrows {
	display: block;
	float: left;
	border: 6px solid transparent;
	border-top: 12px solid #000;
	width: 0px;
	height: 0px;
	margin-top: 5px;
	margin-right: 3px;
	cursor: pointer;
}
i.left_arrows {
	display: block;
	float: left;
	border: 6px solid transparent;
	border-left: 12px solid #000;
	width: 0px;
	height: 0px;
	margin-top: 6px;
	margin-right: 3px;
	cursor: pointer;
}

.root div {
	padding-left: 30px;
	clear: both;
}
/*.root div::after {
	
}*/
div span {
	cursor: pointer;
}
.node_title b {
	font-weight: normal;
	padding-left: 8px;
	
	cursor: pointer;
}
.node_title del {
	font-weight: normal;
	padding-left: 8px;
	font-style: normal;
	cursor: pointer;
	text-decoration: none;
}
b.add::after {
	content: '增加';
	color: #8B2323;
}
del.del::after {
	content: '删除';
	color: #8B2323;
	text-decoration: none;
}
i.highlight2 {
	border-top: 12px solid #4B0082;
}
i.highlight1 {
	border-left: 12px solid #4B0082;
}
/*.node_title span:hover {
	color: #96CDCD
}*/
.node_title span{
	padding-right: 2em;
}
span.highlight {
	color:  #4B0082 
}
.root div {
	padding-left: 30px;
	clear: both;
}
div.unvisible {
	display: none;
}





.search {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.search input {
	width: 100px;
	padding-left: 4px;
	font-size: 14px;
	padding-right: 4px;
}