@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-09-07 22:18:42
 * @version $Id$
 */
 body {
 	font-family: 'Arial';
 }
.intro {
	font-weight: bold;
	font-size: 1.2em;
}